.wsdot-project-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.wsdot-project-header {
    background: radial-gradient(
     ellipse 350% 120% at 30% 100%,   
    #ffffff 20%, #a3bbac 30%, #5f806c 40%, #466d51 50%, #233e2a 60%, #05130c 70%);
    color: #ffffff;
    font-family: 'Inter', -apple-system, sans-serif;
    padding: 5%;
    box-sizing: border-box;
    overflow: hidden;
}

.wsdot-project-header p {
    font-size: 0.85rem;
    padding-bottom: 20px;
}

.logo-and-links {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
}

/* In your component's CSS file, e.g., WSDOT_Project.css */

.wsdot-logo-image {
  /* Set a manageable size for the logo */
    width: 130px; /* Reduced from 200px for better proportion */
    height: auto;
    max-width: 100%; /* Ensure it doesn't exceed container */

    filter:     
    sepia(100%) 
    hue-rotate(35deg)  
    saturate(1300%)    
    brightness(120%);  
}

.app-store-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    background-color: #c7ff6c;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}
